<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        DASHBOARD
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <div class="images">
        <img src="assets/img/Notification.jpg" routerLink="/notification" alt="Notification" class="Notification">
      </div>
      <div class="images1">
        <img src="assets/img/Process.jpg" routerLink="/process" alt="Process" class="Process">
      </div>
      <div class="images2">
        <img src="assets/img/Receipt.jpg" alt="Receipt" routerLink="/receipt" class="Receipt">
      </div>
</ion-row>
</ion-grid>

</ion-content>

